/** RESETEO **/

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/** RESETEO **/
body{
    min-height: 100vh;
}

::placeholder{
    color: #000;
}

.lg_logo{
    
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 10px;
}





.lg_flexbox{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}


